/*----------  Tags ------------*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h4{
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar{
  width: 10px;
}

body::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to top, #35bdbd 0%, #1e257e 100%);
  border-radius: 6px;
}

:root{
  --primary-color:rgb(255, 255, 255); /* Color base */
  --secundary-color:rgb(62, 131, 148);
}

.title-section{
  font-size: 2rem;
  margin:0;
  padding-top: 0.5rem;
}


/* ------------------------- HEADER ------------------------------ */
#header {
  padding: 4rem 0 0 0;
  
}

@keyframes moving-image {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

header {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/fondo.jpg?raw=true");
  background-size: 110%;
  animation: moving-image 15s infinite linear alternate;
  width: 100%;
  height: auto;
  text-align: center;
}

header .presentation {
  height: auto;
  color: rgb(255, 255, 255);
}

header .name-work-container{
  margin-bottom: 0.5rem;
}

header #name-work {
  padding: 0.5rem;
  margin: 0;
  font-size: 2.5rem;
}

header .photography {
  width: 200px;
  height: 200px;
  margin: 0 auto; /* Centrado */
  border-radius: 100px;
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/photograph.png?raw=true");
  background-repeat: no-repeat; /* para que no se repita para rellenar el espacio */
  background-position: center; /* imagen al centro */
  background-size: contain;
}

header nav {
  margin: 0;
  padding: 1rem 0;
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  background-image: linear-gradient(15deg, #1c5d83 0%, #5ec0b5 100%);
  position: relative;
  z-index: 1;
  
}

header .navi-options {
  /*height: 10vh;*/
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: space-around;
  justify-self: center;
}

header nav a {
  color: aliceblue;
  margin: 0;
  padding: 0.8rem 3rem;
  border-radius: 12px;
  transition: all 0.25s;

}

header nav a:hover{
  font-size: 1.7rem;
  transform: translateY(-15px);
}

/*header ul li{
  position: relative;
}

header ul li::before{
  content: "";
  height: 3px;
  width: 0%;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.3s ease-out;
  border-radius: 1px;
}

header ul li:hover::before{
  width: 100%;
}*/

header nav .options {
  margin: 1rem 0rem;
}

hr {
  height: 0.1rem;
  max-width: 100%;
  border: 0;
}

.hr-primary {
  background-image: linear-gradient(
    to right,
    transparent,
    var(--primary-color),
    transparent
  );
}

.hr-secundary {
  background-image: linear-gradient(
    to right,
    transparent,
    var(--secundary-color),
    transparent
  );
}


/* ------------------------- Main ------------------------------ */

main {
  padding: 0;
  text-align: center;
}

 main #habilidades {
  color: var(--secundary-color);
  padding: 1rem 3rem;
}

main .box-icons {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* background-color:aquamarine; */
}

/*------- habilidades -------- */

/*- configuracion del tama침o de los iconos- */
#habilidades div div {
  width: 100px;
  height: 100px;
  margin: 1rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

main .html {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/icon-html.png?raw=true");
}

main .css {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/icon-css.png?raw=true");
}

main .javascript {
  background-image: url("./sources/images/icon-javascript.png");
}

main .php {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/icon-php.png?raw=true");
}

main .laravel {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/icon-laravel.png?raw=true");
}

main .python {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/icon-python.png?raw=true");
}

main .opencv {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/icon-opencv.png?raw=true");
}

main .pandas {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/gh-pages/sources/images/icon-pandas.png?raw=true");
}

/*----------- PORTAFOLIO ----------------------------- */

main #portafolio {
  margin: 0;
  padding: 0.8rem 3rem;
  color: var(--primary-color);
  background-image: linear-gradient(15deg, #1c5d83 0%, #5ec0b5 100%);
  /*background-color: var(--secundary-color);*/
}

main .box-portafolio{
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Cards */
main #portafolio div div{
  width: 200px;
  height: 250px;
  margin: 1.2rem 2.2rem;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.25s;
  color:var(--secundary-color);
  font-size: 1.2rem;
  background-color: var(--primary-color);
}

/* Efecto Cards */
main #portafolio div div:hover{
  transform: translateY(-15px);
  box-shadow: 1px 10px 2px 0px rgb(160, 165, 167);
  font-size: 1.4rem;
  width: 250px;
  height: 300px;
  margin: 1.2rem 0rem;
  overflow-y : hidden;
}

main #portafolio ul a{
  color:var(--secundary-color);
  padding:0 20% 0 20%; 

}

main #portafolio ul a:hover{
  color: var(--primary-color);
  background-color: var(--secundary-color);
}

/* Ajustar tama침o de imagenes */
main #portafolio img{
  width: 100%;
  height: 74%;
}

main #portafolio ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/*---------------- CONTACTO----------------------------- */

footer {
  width: 100%;
  height: auto;
  background-color:var(--primary-color);
  margin: 0;
  padding: 0;
  color: var(--secundary-color);
  text-align: center;
  font-size: 1.5rem;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-contacto{
  padding: 0rem 1rem 2rem 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*-------- Seccion Escribeme --------- */
.form-contacto form{
  margin: 1rem;
  padding: 0rem;
  text-align:left;
}

.form-contacto form button,
.form-contacto form input,
.form-contacto form textarea{
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  border: none;
  background: none;
  color: var(--secundary-color);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to left, #3acfd5 0%, #3a4ed5 100%) 1;
}

.form-contacto form input:focus,
.form-contacto form textarea:focus{
  border: 1px solid transparent;
  border-image: linear-gradient(to left, #3acfd5 0%, #3a4ed5 100%) 1;
  outline: none;
}

.form-contacto form button{
  background-image: linear-gradient(15deg, #1c5d83 0%, #5ec0b5 100%);
  color: var(--primary-color);
}

.info ul li a{
  color: var(--secundary-color);
}

.form-contacto form button:hover,
.form-contacto form button:focus{
  background-image: linear-gradient(15deg, #397ca3 0%, #45dac8 100%);
  font-size: 1.6rem;
  transition: all 0.2s;
  outline: 0;
}

/*-------- Seccion M치s Informaci칩n --------- */

.info h4,
.info ul{
  margin-bottom: 1.3rem;
}

.info ul li{
  margin-bottom: 0.3rem;
}

footer .networks{
  display: flex;
  margin: 0;
  justify-content: center;
  justify-self: center;
  /* background-color: blue; */
}

footer #contacto .networks img{
  width: 50px;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

/* Efecto Cards */
footer #contacto .networks img:hover{
  transform: translateY(-5px);
  transition: all 0.3s;
}
/* --------------- RESPONSIVE ------------------ */

@media screen and (max-width:750px) {
  header{
    background-size: 160%;
  }
}

@media screen and (max-width:520px) {
  header{
    background-size: 210%;
  }
  
  .navi-options{
    flex-direction: column;
  }
}