/*----------  Tags ------------*/
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h4{
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}

:root{
  --primary-color:rgb(255, 255, 255); /* Color base */
  --secundary-color:rgb(11, 117, 117);
}


/* ------------------------- HEADER ------------------------------ */
#header {
  padding: 4rem 0 0 0;
  background-image: url("https://www.qualitydevs.com/wp-content/uploads/2017/12/desarrollador-1288x724.jpg");
  background-size: 110%;
  animation: moving-image 15s infinite linear alternate;
}

@keyframes moving-image {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

header {
  width: 100%;
  height: auto;
  text-align: center;
}

header .presentation {
  height: auto;
  color: rgb(255, 255, 255);
}

header .name-work {
  padding: 0.5rem;
  margin: 0;
  font-size: 2.5rem;
}

header .photography {
  width: 150px;
  height: 150px;
  margin: 0 auto; /* Centrado */
  border-radius: 100px;
  background-image: url("https://drive.google.com/file/d/14fbqcC0QLQAfl2h-ik8DsKhoztwcg5jj/view?usp=sharing");
  background-repeat: no-repeat; /* para que no se repita para rellenar el espacio */
  background-position: center; /* imagen al centro */
  background-size: contain;
}

header nav {
  margin: 0;
  padding: 1rem 0;
  height: auto;
  font-size: 1.5rem;
  background-color: rgb(11, 117, 117);
}

header .navi-options {
  /*height: 10vh;*/
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: space-around;
  justify-self: center;
}

header nav a {
  color: aliceblue;
  margin: 0;
  padding: 0.8rem 3rem;
  border-radius: 12px;
  /*background-color: black;*/
}

header nav a:hover {
  box-shadow: 0px 1px 3px 3px #b3c8c9;
  border-color: #b3c8c9;
}

header nav .options {
  margin: 1rem 0rem;
}

hr {
  height: 0.1rem;
  max-width: 100%;
  border: 0;
}

.hr-primary {
  background-image: linear-gradient(
    to right,
    transparent,
    var(--primary-color),
    transparent
  );
}

.hr-secundary {
  background-image: linear-gradient(
    to right,
    transparent,
    var(--secundary-color),
    transparent
  );
}


/* ------------------------- Main ------------------------------ */

main {
  padding: 0;
  text-align: center;
}

main .abilities {
  color: var(--secundary-color);
  padding: 1rem 3rem;
}

main .box-icons {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* background-color:aquamarine; */
}

/*------- habilidades -------- */

/*- configuracion del tamaño de los iconos- */
main .abilities div div {
  width: 100px;
  height: 100px;
  margin: 1rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

main .html {
  background-image: url("https://github.com/edwingallardo516/Portafolio/blob/eff635e46c0a39eb4161e820cabc52487eee4671/sources/images/icon-html.png"); 
}

main .css {
  background-image: url("/sources/images/icon-css.png");
}

main .javascript {
  background-image: url("/sources/images/icon-javascript.png");
}

main .php {
  background-image: url("/sources/images/icon-php.png");
}

main .laravel {
  background-image: url("/sources/images/icon-laravel.png");
}

main .python {
  background-image: url("/sources/images/icon-python.png");
}

main .opencv {
  background-image: url("/sources/images/icon-opencv.png");
}

main .pandas {
  background-image: url("/sources/images/icon-pandas.png");
}

/*----------- PORTAFOLIO ----------------------------- */

main .portafolio {
  margin: 0;
  padding: 0.8rem 3rem;
  color: var(--primary-color);
  background-color: var(--secundary-color);
}

main .box-portafolio{
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Cards */
main .portafolio div div{
  width: 200px;
  height: 250px;
  margin: 1rem 2rem;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.25s;
  color:var(--secundary-color);
  font-size: 1.2rem;
  background-color: var(--primary-color);
}

/* Efecto Cards */
main .portafolio div div:hover{
  transform: translateY(-15px);
  box-shadow: 1px 10px 2px 0px rgb(160, 165, 167);
  font-size: 1.4rem;
  width: 250px;
  height: 300px;
}

main .portafolio a{
  color:var(--secundary-color);
  padding:0 20% 0 20%;

}

main .portafolio a:hover{
  color: var(--primary-color);
  background-color: var(--secundary-color);
}

/* Ajustar tamaño de imagenes */
main .portafolio img{
  width: 100%;
  height: 60%;
}

main .portafolio ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*------------------ EXPERIENCIA ---------------------------- */
main .experiencia{
  width: 100%;
  height: 50vh;
  background-color:var(--primary-color);
  margin: 0;
  padding: 0;
  color: var(--secundary-color);
}


/* ------------------------- footer ------------------------------ */

/*---------------- CONTACTO----------------------------- */

footer {
  width: 100%;
  height: auto;
  background-color:var(--secundary-color);
  margin: 0;
  padding: 0;
  color: var(--primary-color);
  text-align: center;
  font-size: 20px;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li{
  padding-bottom: 10px;
}

footer .networks{
  display: flex;
  margin: 0;
  justify-content: center;
  justify-self: center;
  /* background-color: blue; */
}

footer .contact .networks img{
  width: 50px;
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

/* Efecto Cards */
footer .contact .networks img:hover{
  transform: translateY(-7px);
}
